#timer{
    text-align: center;
    color: black;
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 50px;
}

#event-layer {
  position: relative;
  width: 100%;
  height: 0;
}

.negative{
    color: red
}

.positive{
    color: green
}

.event-message{
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    animation: descend-fade 5s ease-in forwards;
  white-space: nowrap;
}

@keyframes descend-fade {
  from {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(200px);
    opacity: 0;
  }
}

#leaderboard-text{
  /* position: relative; */
  top: -200px;
  z-index: 2;
  pointer-events: none;
    text-align: center;
    color: black;
    margin-top: 50px;
    font-size: 40px;
}

#leaderboard-entries{
  /* position: relative; */
  top: -200px;
  z-index: 2;
  pointer-events: none;
    text-align: center;
    font-size: 30px
}

#doubling-indicator{
  position: absolute;
  z-index: 3;
  pointer-events: none;
  top: 10%;
  left: 20%;
  font-size: 100px;
  color: red;
  transform: rotate(-45deg)
}

#golden-cookie{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 4;
}

#golden-cookie-img{
  position: absolute;
  z-index: 0;
}

#qrcode {
    position:absolute;
    bottom: 0%;
    left: 0%;
}

#background {
  z-index: 100;
  position: absolute;
  width: 100%;
}

body {
  background-image: url("../img/beach.png");
  background-size: cover;
  background-position: center;
}

#canvas {
  background-color: rgba(255, 255, 255, 255);
  opacity: 0.5;
}